*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary: #edf2fc;
    --fonts: #212121;
}

.modegelap{
    --primary: #282a36;
    --fonts: whitesmoke;
}

body{
    background-color: var(--primary);
}


.image {
    padding-top: 10px;
    width: auto;
    height: 64px;
}

a.logoutnyaa {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 30px;
}

a.logoutnyaa:hover {
    background-color: rgba(255, 255, 255, 0.15);

}

/* NAVBAR */
.navbar {
    background-color: #282D49;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar a.navbar-brand {
    /* float: left; */
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar a.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
}

.navbar ul {
    /* float: right; */
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    display: flex;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.navbar .navbar-toggler {
    display: none;
}

/* SIDEBAR */
.sidenav {
    background-color: #282D49;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    align-items: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 16px;
}

.sidenav a img{
    width: 20px;
    height: 20px;
}

.sidenav a:hover {
    color: darkgrey;
}

.sidenav img{
    width: 80%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 560px;
    color: white;
}

/* CSS CONTAINER KE 1 */
.container {
    width: 100%;
    position: relative;
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container-isi {
    display: flex;
    flex-direction: column;
    padding: 64px;
    max-width: 1080px;
}

.bungkus {
    display: flex;
}

.container-isi .kiri {
    display: flex;
    /* padding: 32px; */
    color: #232323;
    /* justify-content: center; */
    align-items: center;
    /* background-color: black; */
}   

.container-isi .kiri .konten {
    display: flex;
    flex-direction: column;
    /* gap: 120px; */
    max-width: 80%;
    /* justify-content: space-between; */
}

.tulisanAdmin {
    margin-top: 60px;
    padding: 16px 24px;
    background: #36539F;
    color: white;
    font-size: 26px;
    border-radius: 10px;
    max-width: max-content;
}

.konten-judul {
    font-size: 36px;
    color: var(--fonts);    
}

.konten-deskripsi {
    font-size: 18px;
    color: var(--fonts);    
}

.konten-tulisan {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.container-isi .kanan {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gambar-konten {
    height: 430px;
    width: auto;
}

#data {
    background-color: #002561;
}

#logout {
    background-color: #333;
}

@media screen and (max-width: 768px){

    .navbar {
        padding: 0;
    }

    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: rgba(0, 0, 0, 0.9);
        /* height: auto; */
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }


    .navbar ul.open {
        max-height: 100vh;
    }

    .navbar ul li {
        width: 100%;
        /* border-bottom: 1px solid rgba(255,255,255,0.3); */
    }

    .navbar ul li a {
        padding: 0;
    }

    a.logoutnyaa {
        position: absolute;
        top: 5px;
        right: 5rem;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 40px;
        display: block;
    }

    a.logoutnyaa .logouticon {
        width: 40px;
        height: 40px !important;
    }

    a.logoutnyaa span {
        display: none;
    }

    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        /* border: none; */
        /* border-radius: 4px; */
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }

    .container-isi {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 56px;
    }

    .bungkus {
        display: flex;
        flex-direction: column-reverse;
    }

    .container-isi .kiri .konten {
        max-width: 100%;
    }

    .navbar .navbar-toggler span,
    .navbar .navbar-toggler span::before,
    .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #fff;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
    }

    .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
    }

    .navbar .navbar-toggler span::after {
        transform: translateY(5px);
    }

    .navbar .navbar-toggler.open-navbar-toggler span {
        /* transform: rotate(90deg); */
        background-color: transparent;
        /* transform: scale(0.85) rotate(270deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
        /* transform: translateY(0px) scale(0.75) rotate(45deg); */
    }

    .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
        /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
    }
}

/* navbar horizontal */
/* nav{
    background-color: #688ea4;
    color: white; 
    width:100%; 
    padding:20px;
    width: 100%;
    position: fixed;
} */

/* .hero{
    padding-top: 100px;
    font-size: 29px;
    color: var(--fonts);
}

#icon{
    cursor:pointer;
} */
