*{
    padding: 0px;
    margin: 0px;
}

nav {
    /* background-color: #688ea4; */
    width: 100%;
    float: left;
    position: fixed;
}

.sidenav {
    background-color: #282D49;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    align-items: center;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-top: 16px;
}

.sidenav a img{
    width: 20px;
    height: 20px;
}

.sidenav a:hover {
    color: darkgrey;
}

.sidenav img{
    width: 80%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 560px;
    color: white;
}

/* navbar horizontal */
nav{
    background-color: #688ea4;
    color: white; 
    width:100%; 
    padding:20px;
    width: 100%;
    position: fixed;
}

/* .hero{
    margin-top: 50px;
    font-size: 29px;
} */
